body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  overflow-x: hidden;
  color: black; }

.contribution,
.otherActivity,
.trainings,
.workExperiences,
.pastMe,
.futureMe,
.typeOfWork,
#nameBack,
#aboutMe {
  box-shadow: #2e443f;
  font-weight: bold;
  border-radius: 15px;
  border: solid black 5px;
  width: 200px;
  min-height: 90px;
  font-size: 15px; }

.contribution:hover,
.otherActivity:hover,
.pastMe:hover:hover,
.futureMe:hover,
#nameBack:hover,
.workExperiences:hover,
.trainings:hover {
  color: white;
  background-color: #000000; }

.futureMe,
#nameBack {
  margin-right: 35px;
  margin-bottom: 100px; }

.learnMore,
.myDayToDayLife,
.pastMe,
.workExperiences,
.trainings,
.contribution,
.otherActivity {
  display: none; }

.pastMe,
.workExperiences,
.trainings,
.contribution,
.otherActivity {
  margin-right: 35px;
  margin-bottom: 20px;
  float: left; }

body {
  font-size: large;
  background-color: #ffffff;
  font-family: "Courier 10 Pitch"; }

.mainContent {
  margin-top: 250px;
  font-size: 25px;
  color: black;
  text-decoration: solid;
  text-align: left; }

.sideMenu {
  margin-top: 50px; }

.sideView {
  float: right; }

.aboutShuvrow {
  display: none;
  float: left;
  text-align: left;
  margin-top: 20px;
  border-left: solid #7b2a80 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.myDayToDayLife {
  text-align: left; }

ul li {
  list-style: none;
  border-left: solid #a4aaff 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.pastMe,
.trainings,
.workExperiences,
.contribution,
.otherActivity {
  text-align: center;
  background-color: #ffffff;
  float: left;
  margin-top: 20px; }

.futureMe {
  visibility: hidden;
  text-align: center;
  background-color: #ffffff;
  float: right;
  margin-top: 40px;
  margin-bottom: 20px; }

#nameBack, #aboutMe {
  text-align: center;
  background-color: #ffffff; }

#nameBack {
  float: right; }

.working {
  float: right;
  margin: 0px;
  border: 0px; }

.pastContent {
  margin: 10px; }
  .pastContent p {
    margin: 5px;
    border-bottom: 2px solid black; }

.projectTitle {
  color: green; }

.projectDes {
  color: #0f7595; }

.projectTool {
  color: #de6d00; }

.projectStatus {
  color: #7b2a80; }

.projectUrl {
  color: #23527c; }
