body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  overflow-x: hidden;
  color: black; }

.pastMe,
.futureMe,
.typeOfWork,
#nameBack,
#aboutMe {
  box-shadow: #2e443f;
  font-weight: bold;
  border-radius: 15px;
  border: solid black 5px;
  width: 150px;
  min-height: 100px;
  font-size: 15px; }

.pastMe:hover,
.futureMe:hover,
#nameBack:hover {
  color: white;
  background-color: #000000; }

.pastMe,
.futureMe
#nameBack {
  margin-right: 35px;
  margin-bottom: 100px; }

.learnMore,
.myDayToDayLife,
.pastMe {
  display: none; }

body {
  font-size: large;
  background-color: #ffffff;
  font-family: "Courier 10 Pitch"; }

.mainContent {
  margin-top: 250px;
  font-size: 25px;
  color: black;
  text-decoration: solid;
  text-align: left; }

.sideMenu {
  margin-top: 50px; }

.sideView {
  float: right; }

.aboutShuvrow {
  display: none;
  float: left;
  text-align: left;
  margin-top: 20px;
  border-left: solid #7b2a80 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.myDayToDayLife {
  text-align: left; }

ul li {
  list-style: none;
  border-left: solid #a4aaff 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px; }

.pastMe {
  text-align: center;
  background-color: #ffffff;
  float: left;
  margin-top: 40px; }

.futureMe {
  visibility: hidden;
  text-align: center;
  background-color: #ffffff;
  float: right;
  margin-top: 40px;
  margin-bottom: 20px; }

#nameBack, #aboutMe {
  text-align: center;
  background-color: #ffffff; }

#nameBack {
  float: right; }

.working {
  float: right;
  margin: 0px;
  border: 0px; }
