@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
  /*padding: 2rem;*/
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  /*padding: 3px;*/
}

@media (hover: hover) {
  a {
    font-weight: bolder;
  }
  a:hover {
    color: black;

    /*border-radius: 10px;*/

  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    /*display: flex;*/
    /*place-items: center;*/
  }

  #app {
    display: grid;

  }
}
